/*go for fullscreen...

according to this here:
https://medium.com/@ckor/make-full-screen-sections-with-1-line-of-css-b82227c75cbd#.obc8rcrer*/
.section { height: 100vh; }

body {
  background-color: darkorange;
  color: white;
}
